ion-content {
  --background: #ffffff;
}

.dark-background {
  background: #f2f2f2;
  width: 100%;
  height: 10%;
  position: absolute;
  z-index: -1;
}

.filter-content {
  border-radius: 25px 25px 0 0;
  background: #ffffff;
  height: inherit;
  margin-top: 5vh; // dont edit
}

ion-button {
  --ripple-color: none;
  --box-shadow: none;
  font-family: Gilroy ExtraBold, serif;
  font-size: 4.5vw;
  text-transform: none;
  margin: 1vh 0;
}

ion-item {
  --inner-padding-start: 1.5vw;
  --min-height: none;
  font-family: Gilroy, serif;
  font-size: 5vw;
}

/* Set the icon color and opacity */
ion-select::part(icon) {
  display: none !important;
}

ion-select::part(text) {
  background-position: right;
  font-family: Gilroy Light, serif;
}

.apply-button {
  --background: #36ec89;
  --color: #ffffff;
  --border-radius: 2.5vh !important;
  font-size: 5vmin;
  height: 10vmin;
  width: 45%;
  letter-spacing: -0.015em;
  font-family: Gilroy ExtraBold, serif;
}

.reset-button {
  --background: #c4c4c4;
  --border-radius: 25px 0 0 25px;
  font-family: Gilroy Light, serif;
  font-weight: 500;
}

.container-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide-filter {
  --background: transparent;
  --ripple-color: transparent;
  --box-shadow: none;
  position: absolute;
  left: 25%;
  right: 25%;
  top: 4%;
}

.list-header {
  border-radius: 3vh 3vh 0 0;
  padding: 0;

  .list-header-label {
    font-family: Gilroy ExtraBold, serif;
    font-size: 9vmin;
    letter-spacing: -0.015em;
  }
}

.list-footer-label {
  font-family: Gilroy ExtraBold, serif;
  font-size: 9vmin;
  letter-spacing: -0.015em;
}

.reset-filter-button {
  font-family: Gilroy ExtraBold, serif;
  font-size: 5vmin;
  letter-spacing: -0.015em;
  --color: #BDBDBD;
  --border-radius: 1.5vh;
  height: 80%;
  margin: 0;
  padding-right: 2%;

}

.close-filter-icon {
  font-size: 32px;
  color: #ffffff;
}

.arrow-down {
  font-size: 4.5vh;
  color: #36EC89;
  margin: 0;
}

.select-label {
  font-family: Gilroy Light, serif;
  font-size: 3vh;
  padding: 1.5vh;
  margin: 0;
}

.select-item {
  font-family: Gilroy ExtraBold, serif;
  padding: 1.5vh;
  font-size: 3vh;
  max-width: fit-content;
  overflow: inherit;
}

.list-footer {
}

.img-content {
  display: flex;
  justify-content: center;

  .img-card {
    border-radius: 3.5vh 3.5vh 0 0;
  }
}


.footer {
  display: flex;
  padding-top: 1vh;
  padding-bottom: 1vh;
  justify-content: center;
}
