<ion-tabs>
  <ion-tab-bar class="tab-bar" slot="bottom">
    <ion-tab-button class="tab-button" tab="lenta">
      <ion-icon class="icon-button" name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button class="tab-button" tab="search">
      <ion-icon class="icon-button" name="search-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button class="tab-button" (click)="takePhoto()">
      <ion-icon class="icon-button" name="add-circle-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button class="tab-button" tab="likes">
      <ion-icon class="icon-button" name="heart-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button class="tab-button" tab="person">
      <ion-icon class="icon-button" name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

