@font-face {
  font-family: 'rouble';
  src: url('../assets/fonts/rouble.otf') format('opentype');
}

@font-face {
  font-family: 'Gilroy ExtraBold';
  src: url('../assets/fonts/grilroy/Gilroy-ExtraBold.eot');
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
  url('../assets/fonts/grilroy/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/grilroy/Gilroy-ExtraBold.woff') format('woff'),
  url('../assets/fonts/grilroy/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Light';
  src: url('../assets/fonts/grilroy/Gilroy-Light.eot');
  src: local('Gilroy Light'), local('Gilroy-Light'),
  url('../assets/fonts/grilroy/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/grilroy/Gilroy-Light.woff') format('woff'),
  url('../assets/fonts/grilroy/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
