ion-content {
  --background: #2DAB66;
}

ion-slides {
  height: 100%;
  --bullet-background-active: #fff;
  --bullet-background: #000;
}


.slide-text {
  font-family: Gilroy ExtraBold, serif;
  text-align: center;
}


.ionic-logo {
  font-size: 20vh;
}
